@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Lobster&display=swap");
/* Обнуляющий стиль */
* {
	margin: 0;
	padding: 0;
	border: 0;
}

*, *:before, *:after {
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

/*------------------*/
body {
	font-family: Comfortaa;
	background-color: #e8f4e9;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.container {
	max-width: 1180px;
	margin: 0px auto;
}

.content {
	flex: 1 1 auto;
}

.header {
	background-color: #d9ecdb;
}

.header__row {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__title {
	font-family: Lobster;
	color: #43ba59;
	font-size: 70px;
	margin: 0px 25px 0px 0px;
}

.title {
	font-size: 30px;
	text-align: center;
	color: #4fa35f;
}

.title_tomato {
	color: #f47863;
}

.title_gengir {
	color: #e1c795;
}

.block {
	padding: 20px 20px 0 20px;
}

.block__row {
	display: flex;
}

.block__row div:last-child {
	margin: 0px;
}

.block__title {
	margin: 0px 0px 10px 0px;
}

.column {
	display: flex;
	flex-direction: column;
	margin: 0px 20px 0px 0px;
	flex: 1 1 50%;
	background-color: #bde3c0;
	padding: 15px;
	border-radius: 45px;
}

@media (max-width: 820px) {
	.column {
		flex: 1 1 100%;
		margin: 0px 0px 20px 0px;
	}

	.block__row div:last-child {
		margin: 0px;
	}

	.block__row {
		flex-wrap: wrap;
	}
}
.column__title {
	text-align: center;
	color: #438950;
	font-size: 23px;
	margin: 0px 0px 10px 0px;
}

.column__text {
	text-align: justify;
	color: #1d4926;
	font-size: 15px;
	line-height: 19px;
}

.column__text p {
	margin: 0px 0px 13px 0px;
}

.column__text p:last-child {
	margin: 0;
}

.column__image {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;
}

.column__img {
	width: 100%;
}

.footer {
	background-color: #9bc997;
	margin: 20px 0px 0px 0px;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
}

.footer__row {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__text {
	font-family: Lobster;
	color: #1f5629;
	font-size: 16px;
	letter-spacing: 0.2px;
}
